
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<test3.Models.BangDiem>
@{
    ViewBag.Title = "DanhSachDiem";
    ViewBag.ac = 13;
}

<h2>Danh sách điểm</h2>
<form action="/QLD/Search" method="get">
    <div class="form-group">
        <div style="display: flex">
            <input type="text" style="width:30%" name="searchMGV" class="form-control" placeholder="Nhập MSSV cần tìm kiếm" /> &nbsp;
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            @Html.ActionLink("Export", "ExportBangDiem", "Export", null, new { @class = "btn btn-primary", @style = "margin-left: 600px;" })
        </div>
    </div>
</form>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Mã sinh viên</th>
                        <th>Mã môn</th>
                        <th>Mã Lớp</th>
                        <th>Điểm</th>
                        <th>Edit</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var BangDiem in Model)
                    {
                        <tr>
                            <td>@BangDiem.MSSV</td>
                            <td>@BangDiem.MaMon</td>
                            <td>@BangDiem.MaLop</td>
                            <td>@BangDiem.Diem</td>
                            <td><a href="~/QLD/Xoa?id=@BangDiem.MSSV">Xóa</a></td>
                            <td><a href="~/QLD/SuathongtinBangDiem?id=@BangDiem.MSSV">Sửa</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>