@model test3.Models.Grade
@{
    ViewBag.ac = 14;
}

<h2>Thêm điểm</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <form action="@Url.Action("ThemMoiDiem", "QLD")" method="post" class="form-horizontal">
                @Html.HiddenFor(model => model.GradeID)

                <div class="form-group">
                    <label for="StudentID" class="col-md-2 control-label">Mã sinh viên:</label>
                    <div class="col-md-3">
                        <input type="text" name="StudentID" id="StudentID" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="CourseID">Tên môn:</label>
                    <div class="col-md-3">
                        @{
                            test3.Models.QuanliSVEntities db = new test3.Models.QuanliSVEntities();
                            List<test3.Models.Cours> dsMon = db.Courses.ToList();
                        }

                        @Html.DropDownListFor(model => model.CourseID, new SelectList(dsMon, "CourseID", "CourseName"), "Chọn môn...", new { @class = "form-control", id = "CourseID" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="ExamDate" class="col-md-2 control-label">Ngày thi:</label>
                    <div class="col-md-3">
                        <input type="date" name="ExamDate" id="ExamDate" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="SemesterID">Kì:</label>
                    <div class="col-md-3">
                        @{
                            List<test3.Models.Semester> dsKi = db.Semesters.ToList();
                        }

                        @Html.DropDownListFor(model => model.SemesterID, new SelectList(dsKi, "SemesterID", "SemesterName"), "Chọn kì...", new { @class = "form-control", id = "SemesterID" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="ScoreScale10" class="col-md-2 control-label">Điểm hệ 10:</label>
                    <div class="col-md-3">
                        <input type="text" name="ScoreScale10" id="ScoreScale10" class="form-control" oninput="convertGrade()" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ScoreScale4" class="col-md-2 control-label">Điểm hệ 4:</label>
                    <div class="col-md-3">
                        <input type="text" name="ScoreScale4" class="form-control" id="ScoreScale4" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label for="LetterGrade" class="col-md-2 control-label">Điểm chữ:</label>
                    <div class="col-md-3">
                        <input type="text" name="LetterGrade" class="form-control" id="LetterGrade" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <input type="submit" value="Thêm" class="btn btn-primary">
                    </div>
                </div>

                <div>
                    @Html.ActionLink("Back to List", "DanhSachDiem")
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function convertGrade() {
        var grade10 = parseFloat(document.getElementById('ScoreScale10').value);

        var grade4;
        var letterScore;

        if (grade10 >= 8.5 && grade10 <= 10.0) {
            grade4 = 4.0;
            letterScore = "A";
        } else if (grade10 >= 7.0 && grade10 <= 8.4) {
            grade4 = 3.0;
            letterScore = "B";
        } else if (grade10 >= 5.5 && grade10 <= 6.9) {
            grade4 = 2.0;
            letterScore = "C";
        } else if (grade10 >= 4.0 && grade10 <= 5.4) {
            grade4 = 1.0;
            letterScore = "D";
        } else {
            grade4 = 0.0;
            letterScore = "F";
        }

        document.getElementById('ScoreScale4').value = grade4;
        document.getElementById('LetterGrade').value = letterScore;
    }
</script>