@using PagedList.Mvc;
@using PagedList;
@model IPagedList<test3.Models.Notification>
@{
    ViewBag.Title = "DanhSachTinTuc";
    ViewBag.ac = 1;
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th colspan="5" style="background-color: #1e81b0; color: #fff;">Thông báo</th>
                    </tr>
                    <tr>
                        <th style="background-color: #e99856">ID</th>
                        <th style="background-color: #e99856">Tiêu đề</th>
                        <th style="background-color: #e99856">Ngày</th>
                        <th style="background-color: #e99856">Nội dung</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tintuc in Model)
                    {
                        <tr>
                            <td>@tintuc.NotificationID</td>
                            <td>@tintuc.NotificationName</td>
                            <td>@tintuc.Date.ToString("dd-MM-yyyy")</td>
                            <td>@tintuc.NotificationContent</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("DashBoard", new { page, pageSize = ViewBag.PageSize }))
    </div>
</div>
