@model test3.Models.Scholarship

@{
    ViewBag.Title = "Suathongtin";
}

<h2>Thông tin điểm</h2>
<form action="/QLHB/Suathongtin" method="post" class="form-horizontal">
    @Html.HiddenFor(model => model.ScholarshipID)

    <div class="form-group">
        <label for="ScholarshipID" class="col-md-2 control-label">Mã hoc bong:</label>
        <div class="col-md-3">
            <input type="text" name="ScholarshipID" id="ScholarshipID" class="form-control" value="@Model.ScholarshipID" required>
        </div>
    </div>

    <div class="form-group">
        <label for="ScholarshipName" class="col-md-2 control-label">Ten hoc bong:</label>
        <div class="col-md-3">
            <input type="text" name="ScholarshipName" id="ScholarshipName" class="form-control" value="@Model.ScholarshipName" required>
        </div>
    </div>

    <div class="form-group">
        <label for="Description" class="col-md-2 control-label">Mo ta:</label>
        <div class="col-md-3">
            <input type="text" name="Descriprion" id="Description" class="form-control" value="@Model.Description" required />
        </div>
    </div>

    <div class="form-group">
        <label for="StartDate" class="col-md-2 control-label">Ngay bat dau:</label>
        <div class="col-md-3">
            <input type="date" name="StartDate" id="StartDate" class="form-control" value="@Model.StartDate" required />
        </div>
    </div>

    <div class="form-group">
        <label for="EndDate" class="col-md-2 control-label">Ngay ket thuc:</label>
        <div class="col-md-3">
            <input type="date" name="EndDate" id="EndDate" class="form-control" value ="@Model.EndDate" oninput="convertGrade()" required>
        </div>
    </div>

    <div class="form-group">
        <label for="Conditions" class="col-md-2 control-label">Đieu kien:</label>
        <div class="col-md-3">
            <input type="text" name="Conditions" class="form-control" id="Conditions" value="@Model.Conditions" readonly>
        </div>
    </div>

   

    <div class="form-group">
        <div class="col-md-offset-2 col-md-3">

            <input type="submit" name="action" value="Sửa" class="btn btn-primary btn-primary-margin">
            <input type="submit" name="action" value="Xóa" class="btn btn-primary">
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "DanhSachHocBong")
    </div>
</form>

