@model test3.Models.GiangVien

@{
    ViewBag.Title = "ThemMoiGiangVien";
    ViewBag.ac = 5;
}

<h2>Thêm mới giảng viên</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.MGV, "Mã giảng viên", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.MGV, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MGV, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GvUser, "Tài khoản giảng viên", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.GvUser, new { htmlAttributes = new { @class = "form-control", type = "email" } })
            @Html.ValidationMessageFor(model => model.GvUser, "", new { @class = "text-danger" })
            @if (ViewBag.GvUserError != null)
            {
                <p class="text-danger small-text">@ViewBag.GvUserError</p>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GvPass, "Mật khẩu giảng viên", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.GvPass, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GvPass, "", new { @class = "text-danger" })
            @if (ViewBag.GvPassError != null)
            {
                <p class="text-danger small-text">@ViewBag.GvPassError</p>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HoTenGV, "Họ tên giảng viên", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.HoTenGV, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HoTenGV, "", new { @class = "text-danger" })
            @if (ViewBag.HoTenGVError != null)
            {
                <p class="text-danger small-text">@ViewBag.HoTenGVError</p>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgaySinhGV, "Ngày sinh", new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.NgaySinhGV, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @Html.ValidationMessageFor(model => model.NgaySinhGV, "", new { @class = "text-danger" })
            @if (ViewBag.NgaySinhGVError != null)
            {
                <p class="text-danger small-text">@ViewBag.NgaySinhGVError</p>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GioiTinh, "Giới tính", new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            <div>
                @Html.RadioButtonFor(model => model.GioiTinh, true, new { id = "Nam", name = "GioiTinh" }) Nam
                @Html.RadioButtonFor(model => model.GioiTinh, false, new { id = "Nu", name = "GioiTinh" }) Nữ
            </div>
            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
            @if (ViewBag.GioiTinhError != null)
            {
                <p class="text-danger small-text">@ViewBag.GioiTinhError</p>
            }
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.MaKhoa, "Mã khoa", new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @{
                test3.Models.QLSVEntities db = new test3.Models.QLSVEntities();
                List<test3.Models.Khoa> dsKhoa = db.Khoas.ToList();
            }

            @Html.DropDownListFor(model => model.MaKhoa, new SelectList(dsKhoa, "MaKhoa", "TenKhoa"), "Chọn khoa...", new { @class = "form-control", id = "MaKhoa" })
            @Html.ValidationMessageFor(model => model.MaKhoa, "", new { @class = "text-danger" })
            @if (ViewBag.MaKhoaError != null)
            {
                <p class="text-danger small-text">@ViewBag.MaKhoaError</p>
            }
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-default" />

       
        </div>
    </div>
</div>
<style>
    .small-text {
        font-size: 12px; /* Chọn kích thước phù hợp */
        margin-top: -15px; /* Điều chỉnh khoảng cách từ trên xuống */
        margin-bottom: -15px;
    }
</style>
}
