
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<test3.Models.Semester>
@{
    ViewBag.ac = 15;
}

<h2>Danh sách học kì </h2>
<!-- Advanced Tables -->
<form action="/QLHK/Search" method="get">
    <div class="form-group">
        <div style="display: flex">
            <select name="searchField" class="form-control" style="width: 30%;">

                <option value="SemesterName">Tên học kì</option>
            </select>
            <input type="text" name="searchValue" class="form-control" placeholder="Nhập giá trị cần tìm kiếm" />
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            @Html.ActionLink("Export", "ExportHocKi", "Export", null, new { @class = "btn btn-primary", @style = "margin-left: 600px;" })
        </div>
    </div>
</form>

<form action="/QLHK/Search" method="get">
    <div class="form-group">
        <div style="display: flex">

        </div>
    </div>
</form>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Mã học kì </th>
                        <th>Tên học kì </th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th> </th>

                    </tr>
                </thead>
                @if (Model != null && Model.Any())
                {
                <tbody>
                    @foreach (var hocKi in Model)
                        {
                    <tr>
                        <td>@hocKi.SemesterID</td>
                        <td>@hocKi.SemesterName</td>

                        <td>@hocKi.StartDate.ToString("dd/MM/yyyy")</td>

                        <td>@hocKi.EndDate.ToString("dd/MM/yyyy") </td>
                        <td>
                            <form action="~/QLHK/Xoa" method="post">
                                <input type="hidden" name="id" value="@hocKi.SemesterID" />
                                <button type="submit" class="btn btn-danger">Xóa</button>
                            </form>
                        </td>
                        <td>
                            <form action="~/QLHK/Suathongtin" method="get">
                                <input type="hidden" name="id" value="@hocKi.SemesterID" />
                                <button type="submit" class="btn btn-primary">Sửa</button>
                            </form>
                        </td>
                    </tr>
                        }

                </tbody>
                }

            </table>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("DanhSachHocKi", new { page, pageSize = ViewBag.PageSize }))
    </div>
</div>