@model test3.Models.Semester


@{
    ViewBag.Title = "Suathongtin";
}

<h2>Thông tin học kì</h2>
<script>
    @if (ViewBag.Error != null)
    {
        <text>
            $(document).ready(function () {
                alert("@Html.Raw(ViewBag.Error)");
            });
        </text>
    }
</script>
<form action="~/QLHK/Suathongtin" method="post" class="form-horizontal">
    @Html.HiddenFor(model => model.SemesterID)

    <div class="form-group">
        <label for="SemesterName" class="col-md-2 control-label">Tên học kì:</label>
        <div class="col-md-3">
            <input type="text" name="SemesterName" id="SemesterName" class="form-control" value="@Model.SemesterName" required>
        </div>
    </div>
    <div class="form-group">
        <label for="StartDate" class="col-md-2 control-label">Ngày bắt đầu:</label>
        <div class="col-md-3">
            <input type="date" name="StartDate" id="StartDate" class="form-control" value="@String.Format("{0:yyyy-MM-dd}", Model.StartDate)" required>
        </div>
    </div>

    <div class="form-group">
        <label for="EndDate" class="col-md-2 control-label">Ngày kết thúc:</label>
        <div class="col-md-3">
            <input type="date" name="EndDate" id="EndDate" class="form-control" value="@String.Format("{0:yyyy-MM-dd}", Model.EndDate)" required>
        </div>
    </div>

    <div id="error-message" style="color: red;"></div>
    <div  id="success-mesage" style="color: green;"></div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-3">
            <input type="button" id="btn-sua" name="action" value="Sửa" class="btn btn-primary">
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "DanhSachHocKi")
    </div>
</form>


<style>
    .btn-primary-margin {
        margin-right: 70px;
    }
</style>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    $(document).ready(function () {
        $("#btn-sua").click(function () {
            var startDate = new Date($("#StartDate").val());
            var endDate = new Date($("#EndDate").val());

            if (startDate > endDate) {
                $("#error-message").text("Ngày kết thúc phải sau ngày bắt đầu.");
                return;
            }
            var form = $('form')[0];
            if (form.checkValidity() === false) {
                form.reportValidity();
                return;
            }
            var formData = new FormData(form);
            $.ajax({
                type: "POST",
                data: formData,
                contentType: "application/json; charset=utf-8",
                url: window.location.origin + '/QLHK/Suathongtin',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    Swal.fire({
                        title: 'Sửa thành công',
                        text: 'Bạn có muốn quay trở lại danh sách môn học không?',
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonText: 'Có',
                        cancelButtonText: 'Không'
                    }).then((results) => {
                        if (result.isConfirmed) {
                            window.location.href = window.location.origin + '/QLHK/DanhSachHocKi';
                        } else {
                        }
                    });
                },
                error: function (response) {
                    if (response.responseText === "Đã có học kì này.") {
                        $("#error-message").text(response.responseText);
                    } else {
                        alert("Sửa thất bại");
                    }
                }
            });
        });
    });
</script>




