@model test3.Models.Student
@{
    ViewBag.ac = 3;
}

<h2>Thêm sinh viên</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <form action="@Url.Action("AddNewStudent", "QLSV")" method="post" class="form-horizontal">
                @Html.HiddenFor(model => model.StudentID)

                <div class="form-group">
                    <label for="FullName" class="col-md-2 control-label">Full Name:</label>
                    <div class="col-md-3">
                        <input type="text" name="FullName" id="FullName" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="DateOfBirth" class="col-md-2 control-label">Date of Birth:</label>
                    <div class="col-md-3">
                        <input type="date" name="DateOfBirth" id="DateOfBirth" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Gender" class="col-md-2 control-label">Gender:</label>
                    <div class="col-md-3">
                        <select name="Gender" id="Gender" class="form-control" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Address" class="col-md-2 control-label">Address:</label>
                    <div class="col-md-3">
                        <textarea name="Address" id="Address" class="form-control" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ContactNumber" class="col-md-2 control-label">Contact Number:</label>
                    <div class="col-md-3">
                        <input type="text" name="ContactNumber" id="ContactNumber" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Email" class="col-md-2 control-label">Email:</label>
                    <div class="col-md-3">
                        <input type="email" name="Email" id="Email" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="DepartmentID">Tên khoa:</label>
                    <div class="col-md-3">
                        @{
                            test3.Models.QuanliSVEntities db = new test3.Models.QuanliSVEntities();
                            List<test3.Models.Department> dsKhoa = db.Departments.ToList();
                        }

                        @Html.DropDownListFor(model => model.DepartmentID, new SelectList(dsKhoa, "DepartmentID", "DepartmentName"), "Chọn khoa...", new { @class = "form-control", id = "DepartmentID" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="ClassID">Tên lớp:</label>
                    <div class="col-md-3">
                        @{
                            List<test3.Models.Class> dslop = db.Classes.ToList();
                        }

                        @Html.DropDownListFor(model => model.ClassID, new SelectList(dslop, "ClassID", "ClassName"), "Chọn lớp...", new { @class = "form-control", id = "ClassID" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <input type="submit" value="Thêm" class="btn btn-primary">
                    </div>
                </div>

                <div>
                    @Html.ActionLink("Back to List", "DanhSachSinhVien")
                </div>
            </form>
        </div>
    </div>
</div>
