@*@model List<test3.Models.SinhVien>*@
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<test3.Models.SinhVien>
@{
    ViewBag.ac = 2;
}

<h2>Danh sách sinh viên </h2>
<!-- Advanced Tables -->
<form action="/QLSV/Search" method="get">
    <div class="form-group">
        <div style="display: flex">
            <select name="searchField" class="form-control" style="width: 30%;">
                <option value="MSSV">MSSV</option>
                <option value="MaLop">Mã Lớp</option>
                <option value="MaKhoa">Mã Khoa</option>
                <option value="GioiTinh">Giới Tính</option>
                <option value="NoiSinh">Nơi Sinh</option>
            </select>
            <input type="text" name="searchValue" class="form-control" placeholder="Nhập giá trị cần tìm kiếm" />
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            @Html.ActionLink("Export", "ExportSinhVien", "Export", null, new { @class = "btn btn-primary", @style = "margin-left: 600px;" })
        </div>
    </div>
</form>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>MSSV</th>
                        @*
                            <th>SvUser</th>
                            <th>SvPass</th>*@
                        <th>Họ tên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Mã lớp</th>
                        <th>Nơi sinh</th>
                        <th>Mã khoa </th>
                        <th>Edit</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                @if (Model != null && Model.Any())
                {
                    <tbody>
                        @foreach (var sinhVien in Model)
                        {
                            <tr>
                                <td>@sinhVien.MSSV</td>
                                <td>@sinhVien.HoTenSV</td>
                                <td>@sinhVien.NgaySinhSV.ToString("dd/MM/yyyy")</td>
                                <td>@(sinhVien.GioiTinh ? "Nam" : "Nữ")</td>
                                <td>@sinhVien.MaLop</td>
                                <td>@sinhVien.NoiSinh</td>
                                <td>@sinhVien.MaKhoa</td>
                                <td><a href="~/QLSV/Xoa?id=@sinhVien.MSSV">Xóa</a></td>
                                <td><a href="~/QLSV/Suathongtin?id=@sinhVien.MSSV">Sửa</a></td>
                            </tr>
                        }

                    </tbody>
                }

            </table>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("DanhSachSinhVien", new { page, pageSize = ViewBag.PageSize }))
    </div>
</div>

