@*@model List<test3.Models.SinhVien>*@
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<test3.Models.Student>
@{
    ViewBag.ac = 2;
}

<h2>Danh sách sinh viên </h2>
<!-- Advanced Tables -->
<form action="/QLSV/Search" method="get">
    <div class="form-group">
        <div style="display: flex">
            <select name="searchField" class="form-control" style="width: 30%;">
                <option value="StudentID">MSSV</option>
                <option value="ClassName">Lớp</option>
                <option value="DepartmentName">Khoa</option>
            </select>
            <input type="text" name="searchValue" class="form-control" placeholder="Nhập giá trị cần tìm kiếm" />
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </div>
</form>
<form action="/QLSV/Search" method="get">
    <div class="form-group">
        <div style="display: flex">
            @Html.ActionLink("Export", "ExportSinhVien", "QLSV", null, new { @class = "btn btn-primary", @style = "margin-left: 600px;" })
            @Html.ActionLink("Import", "ImportStudents", "QLSV", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</form>


<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Mã sinh viên</th>
                        <th>Họ và tên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        @*<th>Địa chỉ</th>*@
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        @*<th>Mã lớp</th>
                            <th>Mã khoa</th>*@
                        <th>Edit </th>
                        <th>Edit </th>
                    </tr>
                </thead>
                @if (Model != null && Model.Any())
                {
                    <tbody>
                        @foreach (var sinhVien in Model)
                        {
                            <tr>
                                <td>@sinhVien.StudentID</td>
                                <td>@sinhVien.FullName</td>
                                <td>@sinhVien.DateOfBirth.ToString("dd/MM/yyyy")</td>
                                <td>@(sinhVien.Gender ? "Nam" : "Nữ")</td>
                                @*<td>@sinhVien.Address</td>*@
                                <td>@sinhVien.ContactNumber</td>
                                <td>@sinhVien.Email</td>
                                @*<td>@sinhVien.ClassID</td>
                                    <td>@sinhVien.DepartmentID</td>*@
                                @*<td><a href="~/QLSV/Suathongtin?id=@sinhVien.StudentID">Xem</a></td>*@

                                <td>
                                    <form action="~/QLSV/Xoa" method="post">
                                        <input type="hidden" name="id" value="@sinhVien.StudentID" />
                                        <button type="submit" class="btn btn-danger">Xóa</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="~/QLSV/Suathongtin" method="get">
                                        <input type="hidden" name="id" value="@sinhVien.StudentID" />
                                        <button type="submit" class="btn btn-primary">Sửa</button>
                                    </form>
                                </td>

                            </tr>
                        }

                    </tbody>
                }

            </table>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("DanhSachSinhVien", new { page, pageSize = ViewBag.PageSize }))
    </div>
</div>
