@model test3.Models.Student

@{
    ViewBag.Title = "Suathongtin";
}

<h2>Thông tin sinh viên</h2>
<form action="/QLSV/Suathongtin" method="post" class="form-horizontal">
    @Html.HiddenFor(model => model.StudentID)

    <div class="form-group">
        <label for="FullName" class="col-md-2 control-label">Full Name:</label>
        <div class="col-md-3">
            <input type="text" name="FullName" id="FullName" class="form-control" value="@Model.FullName" required>
        </div>
    </div>

    <div class="form-group">
        <label for="DateOfBirth" class="col-md-2 control-label">Date of Birth:</label>
        <div class="col-md-3">
            <input type="date" name="DateOfBirth" id="DateOfBirth" class="form-control" value="@String.Format("{0:yyyy-MM-dd}", Model.DateOfBirth)" required>
        </div>
    </div>

    <div class="form-group">
        <label for="Gender" class="col-md-2 control-label">Gender:</label>
        <div class="col-md-3">
            <div>
                @Html.RadioButtonFor(model => model.Gender, true, new { id = "Male", name = "Gender" }) Nam
                @Html.RadioButtonFor(model => model.Gender, false, new { id = "Female", name = "Gender" }) Nữ
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="Address" class="col-md-2 control-label">Address:</label>
        <div class="col-md-3">
            <textarea name="Address" id="Address" class="form-control" required>@Model.Address</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="ContactNumber" class="col-md-2 control-label">Contact Number:</label>
        <div class="col-md-3">
            <input type="text" name="ContactNumber" id="ContactNumber" class="form-control" value="@Model.ContactNumber" required>
        </div>
    </div>

    <div class="form-group">
        <label for="Email" class="col-md-2 control-label">Email:</label>
        <div class="col-md-3">
            <input type="email" name="Email" id="Email" class="form-control" value="@Model.Email" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="DepartmentID">Tên khoa:</label>
        <div class="col-md-3">
            @{
                test3.Models.QuanliSVEntities db = new test3.Models.QuanliSVEntities();
                List<test3.Models.Department> dsKhoa = db.Departments.ToList();
            }

            @Html.DropDownListFor(model => model.DepartmentID, new SelectList(dsKhoa, "DepartmentID", "DepartmentName"), "Chọn khoa...", new { @class = "form-control", id = "DepartmentID" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="ClassID">Tên lớp:</label>
        <div class="col-md-3">
            @{
                List<test3.Models.Class> dslop = db.Classes.ToList();
            }

            @Html.DropDownListFor(model => model.ClassID, new SelectList(dslop, "ClassID", "ClassName"), "Chọn lớp...", new { @class = "form-control", id = "ClassID" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-3">
            <input type="button" id="btn-sua" name="action" value="Sửa" class="btn btn-primary">
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "DanhSachSinhVien")
    </div>
</form>

<style>
    .btn-primary-margin {
        margin-right: 70px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#btn-sua").click(function () {
            var form = $('form')[0];
            if (form.checkValidity() === false) {
                form.reportValidity();
                return;
            }
            var formData = new FormData(form);
            $.ajax({
                type: "POST",
                data: formData,
                contentType: "application/json; charset=utf-8",
                url: window.location.origin + '/QLSV/Suathongtin',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    window.location.href = window.location.origin + '/QLSV/DanhSachSinhVien';
                },
                error: function (response) {
                    /*if (response.responseText === "Sinh viên đã tồn tại với số điện thoại này.") {
                        $("#error-message").text(response.responseText);
                    } else {
                        alert("Thêm mới thất bại");
                    }*/
                }
            });
        });
    });

</script>