@model test3.Models.Student

@{
    ViewBag.Title = "Suathongtin";
}

<h2>Sửa thông tin sinh viên</h2>

<form action="@Url.Action("AddNewStudent", "QLSV")" method="post">
    {
    <label for="FullName">Full Name:</label>
    @Html.TextBoxFor(model => model.FullName, new { @required = "required" })

    <label for="DateOfBirth">Date of Birth:</label>
    @Html.TextBoxFor(model => model.DateOfBirth, new { @type = "date", @required = "required" })

    <label for="Gender">Gender:</label>
    @Html.DropDownListFor(model => model.Gender, new SelectList(new[]
    {
        new { Value = "Male", Text = "Male" },
        new { Value = "Female", Text = "Female" }
    }, "Value", "Text"), new { @required = "required" })

    <label for="Address">Address:</label>
    @Html.TextAreaFor(model => model.Address, new { @required = "required" })

    <label for="ContactNumber">Contact Number:</label>
    @Html.TextBoxFor(model => model.ContactNumber, new { @required = "required" })

    <label for="Email">Email:</label>
    @Html.TextBoxFor(model => model.Email, new { @type = "email", @required = "required" })

    <label for="ClassID">Class ID:</label>
    @Html.TextBoxFor(model => model.ClassID, new { @required = "required" })

    <label for="DepartmentID">Department ID:</label>
    @Html.TextBoxFor(model => model.DepartmentID, new { @required = "required" })

    <input type="submit" value="Edit Student">
</form>
